{%- assign basic = data.basic %}
{%- if basic %}
<div class="language-flags">
  <a href="{{ '/pt.html' | relative_url }}" title="Português">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/330px-Flag_of_Brazil.svg.png" alt="Português">
  </a>
  <a href="{{ '/index.html' | relative_url }}" title="English">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/330px-Flag_of_the_United_Kingdom_%283-5%29.svg.png" alt="English">
  </a>
</div>
<section class="basic">
  {%- if basic.avatar.show and basic.avatar.path %}
  <img class="avatar" src="{{ basic.avatar.path | relative_url }}" alt="avatar">
  {%- endif %}

  <div class="header" {% if basic.avatar.show != true %}style="align-items: center;"{% endif %}>
    {%- if basic.name %}
    <h2 class="name">{{ basic.name }}</h2>
    {%- if basic.title %}
    <h3 class="title">{{ basic.title }}</h3>
    {%- endif %}
    {%- endif %}
    {%- include contact.html %}
  </div>
</section>
{%- endif %}
